header{
    padding: 50px;
    margin: 10px;
    border: 1px solid white;
    color:white;
    background-color: #333;
    opacity: 0.7; 

    
}
body{
    background: white;
    margin: 0;
    padding: 0;
    background-image: url("trees.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

#mission {
    margin: auto;
    max-width: 100%;
    border: 1px solid white;
    font-size: 20px;
    overflow:scroll;
}

#boxes section{
    width: 100%; height: 800px;;
    position: relative;
    color: white;
   
    font-size: 20px;
    
}

#div1{
    border: 1px solid white;
    font-size: 20px;
  
    overflow:scroll;
}
#div1.t1{
    width: 62%;
    height: 800px;
    background-color: #222;
    opacity: .7;
}

#div1.t2{  
    width: 37%;
    height: 400px;
    position: absolute; 
    top: 0px; right: 0;
    background-color: #222;
    opacity: .7;
}

#div1.t3{
    width: 37%;
    height: 402px;
    position: absolute; 
    bottom: 0px; right: 0;
    background-color: #222;
    opacity: .7;
    
}

header{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

.topnav {
    border: 1px; 
    padding: 25px;
    overflow: auto;
    
    opacity: 0.7;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    margin: 0px;
    padding: 35px;
  }
  
  .topnav a:hover {
    background-image: url("ppr.jpg");
    color: black;
    display: block;
    width: 7%;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

p.title1  {opacity: 0.5;
font-size: 50px}
p.para1 {opacity: 0.5;}

p.title2  {opacity: 0.5;
    font-size: 50px}
p.para2 {opacity: 0.5;}

p.title3  {opacity: 0.5;
    font-size: 50px}
p.para3 {opacity: 0.5;}

p.title0  {opacity: 0.5;
    font-size: 50px}
p.para0 {opacity: 0.5;}

section.trc{
    font-size: 50px;}

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        opacity: .55;}


footer{
    font-size: 10px;
    color: white;
    text-align: center;
    opacity: .5;
}

