

header{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
body{
    background-image: url("ppr.jpg");
    margin: 0;
    padding: 0;
}


#sus {background: #333;
    margin: auto;
    width: 60%;
    border: 1px solid black;
    padding: 10px;
}
#env {background: #333}
#trc {background: #333;}

#boxes section{
    width: 100%; height: 800px;;
    position: relative;
}

#div1.t1{
    width: 62.5%;
    height: 800px;
    background-color: #FCA523;
    border: 1px solid black;
}

#div1.t2{  
    width: 37.5%;
    height: 400px;
    position: absolute; 
    top: 0px; right: 0;
    font-size: 18px;
    background: #02F2EA;
    border: 1px solid black;
}

#div1.t3{
    width: 37.5%;
    height: 400px;
    position: absolute; 
    bottom: 0px; right: 0;
    font-size: 18px;
    background-color: #FFFCF9;
    border: 1px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

.topnav {
    border: 10px;
    padding: 10px;
    overflow: auto;
    background-color: #333;
    text-align: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
  }
  
  .topnav a:hover {
    background-image: url("ppr.jpg");
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  